/* Init font */
@font-face {
    font-family: Minecraft;
    font-style: normal;
    font-weight: 400;
    src: url("https://cdn.jsdelivr.net/gh/nailujx86/Minecraft-Webfont-and-Colors@v1.0/font/minecraft_font.woff") format("woff"),url(https://cdn.jsdelivr.net/gh/nailujx86/Minecraft-Webfont-and-Colors@v1.0/font/minecraft_font.eot) format("eot"),url(https://cdn.jsdelivr.net/gh/nailujx86/Minecraft-Webfont-and-Colors@v1.0/font/minecraft_font.ttf) format("truetype"),url(https://cdn.jsdelivr.net/gh/nailujx86/Minecraft-Webfont-and-Colors@v1.0/font/minecraft_font.svg#Minecraft) format("svg");
}

body {
    image-rendering: pixelated;
    /* Pixel rendering because... gross */
    font-family: 'Minecraft';
    color: white;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('stone.png');
    background-size: 5%;
    background-blend-mode: darken;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.row-container {
    display: flex;
    flex-direction: row;
    /* padding-top: 20px; */
    padding-bottom: 10px;
    justify-content: center;
}

.row-container2 {
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
    justify-content: center;
    width: 30%;
    padding: 10px;
    margin: 0 auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('cobblestone.png');
    background-size: 10%;
    background-blend-mode: darken;
}

.container-alignment {
    text-align: center;
    text-shadow: 2px 0px black;
}

.item {
    margin-right: 20px;
}

.socials {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1000;
}

.socials .discord {
    width: 100px;
    height: auto;
    padding-right: 10px;
    cursor: pointer;
}

.playerlist {
    background-color: black;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 8px;
}

/* MOTD & IP*/
.motdbox {
    border: 3px solid #2c0863;
    outline: 2px solid #1f083a;
    background-color: #1f083a;
    border-radius: 2px;
    padding: 5px;
    /* display: inline-block; */
    text-shadow: 2px 0px black;
    margin-top: 12px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    font-size: 18pt;
    margin-bottom: 8px;
    width: fit-content;
}

.ip {
    font-size: 30pt;
    padding-top: 16px;
    padding-bottom: 10px;
    text-shadow: 5px 0px black;
}

.infotext {
    text-shadow: 2px 0px black;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    margin-top: auto;
}

.verIndent {
    color: lightgray;
    border: rgb(38, 38, 38) solid 2px;
    outline: rgb(63, 63, 63) solid 2px;
    padding: 3px;
    border-radius: 2px;
    background-color: black;
}

.center {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.help {
    all: unset;
    color: turquoise;
    font-family: 'Minecraft';
    padding-left: 6px;
    font-size: 12px;
    cursor: help;
    text-shadow: 1.5px 0px black;
    /* float: right; */
}

.about-people img{
    display: flex;
    flex-direction: row;
    image-rendering: pixelated;
    width: 20%;
    float: left;
    padding-bottom: 10px;
}

.text {
    margin-top: 40px;
    font-size: 32px;
    font-style: italic;
}

.name {
    margin-top: 40px;
    font-size: 16px;
}

.about-people {
    /* display: inline-block; */
    vertical-align: top;
}

.scanned {
    text-align: center;
    text-shadow: 2px 0px black;
}

.center-container {
    display: flex;
    justify-content: center;
}

.ping {
    color:rgb(120, 120, 120);
    padding-left: 10px;
    font-size: 16px;
}

.about {
    width: 100px;
    height: 100px;
    right: 0;
    /* bottom: 0; */
    /* padding-top: 10px; */
    padding-right: 20px;
    position: absolute;
}

.about-in {
    width: 80px;
    height: 80px;
    right: 0;
    /* bottom: 0; */
    /* padding-top: 10px; */
    padding-right: 20px;
    position: absolute;
}

/* Button wrapper */
.button-wrapper {
    color: white;
    font-family: 'Minecraft';
    position: relative;
    display: inline-block;
    image-rendering: pixelated;
    background-image: url('button.png');
    width: 300px;
    height: 30px;
    background-size: cover;
    border: none;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
}

.button-wrapper.spacer {
    margin-right: 10px;
}

.button-wrapper:hover {
    color: yellow;
    background-image: url('hilight.png');
}

.button-wrapper:active {
    background-image: url('no.png');
}

.button-wrapper span {
    white-space: nowrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 12px;
    pointer-events: none;
    text-shadow: 1.5px 0px black;
}

.button-wrapper:hover span {
    color: rgb(255 255 127);
}

.top-wrapper {
    padding: 10px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('dirt.png');
    background-size: 5%;
}

.top-wrapper h1 {
    padding-left: 25px;
}

.about-text {
    padding: 50px;
    padding-top: 20px;
}

/* Uuid text */
.uuid {
    font-size: 8px;
    color: darkgray;
}

.chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#graph {
    width: 100%;
    height: 100%;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: 10px;
    display: inline-block;
    cursor: help;
}

.dot.valid {
    background-color: rgb(0, 106, 255);
}
.dot.invalid {
    background-color: salmon;
}
.dot.waiting {
    background-color: magenta;
}

/* Link recoloring */
a:link {
    color: rgb(134, 239, 255);
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: rgb(255, 65, 97);
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: rgb(110, 255, 78);
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}

.icon   {
    width: 200px;
    color: red;
    font-style: italic;
    /* padding: 10px; */
}

.brog    {
    image-rendering: initial !important;
    filter: invert(1) drop-shadow(0px 0px 5px white);
    /* brog */
}